<a href="https://colab.research.google.com/github/hxxn05/Python-class/blob/main/class_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def func1():
    print('BlockDMask')

#함수 호출
func1() #DH
func1()
func1()

for i in range(3):
  func1()

BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask

In [5]:
def func2(a,b):
    print(f'{a} 곱하기 {b} = {a * b}')

#함수 호출
func2(1,2)
func2(1,3) #DH
func2(2,4)

1 곱하기 2 = 2
1 곱하기 3 = 3
2 곱하기 4 = 8

In [8]:
def func3():
    return "abcdefg"

#함수 호출
#DH
a = func3()
print(a, "GG", sep=" ")

abcdefg GG

In [18]:
def func4(a, b):
    return a * b
#함수 호출
#DH
a = input()
c = func4(input(a), 9)
print(c)

3
39
999999999

In [29]:
# for i in range(1,10):
#     print(f'{2} x {i} = {2 * i}')
# for i in range(1,10): #DH
#     print(f'{3} x {i} = {3 * i}')

  # print()
  # print()
  # print()

def gugudan(num):
    for i in range(1, 10):
        print(f'{num} x {i} = {num * i}')
    print()
# 구구단 출력
#DH
gugudan(2)

gugudan(3)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [5]:
def func1(a , b=5, c=10):
    return a + b + c

print(func1(1, 2, 3)) # 1 + 5 = 6
print(func1(1,2))     # 1 + 2 = 13
print(func1(1))       # 1 + 5 = 10 #DH
print()

6
13
16

In [7]:
def func2(a=10 , b=20):
    return a + b

print(func2(1,2))  # 1 + 2
print(func2(1)) # 1 + 20
print(func2()) #DH

3
21
30

In [10]:
# def func3(a = 10,b,c):
#     return a + b + c
#     func3(1,2)    # 1이 a이고 b에 2가 들어가는 거겠지?
#                   # 뭘 원하는 거야?
#     func3( ,1, 2) # 뭐 이렇게 호출해야 하나?

In [13]:
def func6(*args):
    a = 0
    for i in args:
        a = a + i
    return a

b = func6(1, 5)
print(b)

c = func6(2, 3, 4, 5) #DH
print(c)

d = func6(1,2,3,4,5,4,3,2,1)
print(d)

e = func6()
print(e)

6
14
25
0

In [14]:
def test(*val):
    for i in val:
        print(i) #DH

test(1, 'a', 'c', 3)

1
a
c
3

In [16]:

def sum_mul(choice, *val):
    if choice == 'sum':
        result = 0
        for i in val:
          result = result + i
    elif choice == 'mul':
        result = 1 #DH
        for i in val:
          result = result * i
    print()
    return result

print(sum_mul('sum', 1,2,3,4,5 ))
print(sum_mul('mul', 1,2,3,4,5 ))

15

120

In [17]:
def comp(score=0):
    if score == 0:
        return 0
    elif score > 50:
        return 2
    else:
        return 1  #DH

grade = comp(40)
print("Grade is ", grade, " for ", 40)

grade = comp(80)
print("Grade is ", grade, " for ", 80)

grade = comp()
print("Grade is ", grade, " for ", "for no score")

Grade is  1  for  40
Grade is  2  for  80
Grade is  0  for  for no score

In [18]:
def report(name, age, score):
    print(name, score)

report(age =20, name="DongHyun", score=95)
report("Donghyun", 20, 95)

DongHyun 95
Donghyun 95