<a href="https://colab.research.google.com/github/hxxn05/Python-class/blob/main/class_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
a = '      iphone    !     '
b = '~~.iphone.~~ '
c = 'iphone!' #DH

#print(b.rstrip(), end = '.' )
print(a.lstrip('~'))
print(b.lstrip('~'))
print(c.lstrip('~')) #DH


print(a.rstrip('~'))
print(b.rstrip('~'))
print(c.rstrip('~')) #DH

      iphone    !
.iphone.~~
iphone!
      iphone    !
~~.iphone.~~
iphone!

In [16]:
text = '0000000Water boils at 100 degrees 000'
print(text.lstrip('0'))
print(text.rstrip('0')) #DH
print(text.strip('0'))

Water boils at 100 degrees 000
0000000Water boils at 100 degrees
Water boils at 100 degrees

In [20]:
text = "!,,,,,123.....water....pp"
print(text.lstrip(',123.p'))
print(text.rstrip(',123.p'))#DH
print(text.strip(',123.p'))

!,,,,,123.....water....pp
!,,,,,123.....water
!,,,,,123.....water

In [21]:
text = ' water boils at 100 degrees '
print('[' + text.rstrip() + ']')
print('[' + text.lstrip() + ']') #DH
print('[' + text.strip() + ']')

[ water boils at 100 degrees]
[water boils at 100 degrees ]
[water boils at 100 degrees]

In [22]:
txt = "   Hz    "
x = txt.isspace() #DH
print(x)

False

In [23]:
txt = "       "
x = txt.isspace() #DH
print(x)

True

In [25]:
sentence = input("문자열을 입력하시오:")
table = {"알파벳" : 0, "숫자" : 0, "빈칸" : 0}


for i in sentence :
  if (i.isalpha()):
      table["알파벳"] += 1
  elif (i.isdigit()):
      table["숫자"] +=1
  elif (i.isspace()):
      table["빈칸"] +=1
print(table)

문자열을 입력하시오:2005 DH
{'알파벳': 2, '숫자': 4, '빈칸': 1}

In [31]:
### 우측 정렬 예
s = '이강인화이팅'
n = 7

answer = ''
for i in range(n-len(s)): #DH
    answer +=  '  '

answer += s

print(answer)

print(s.ljust(n))   #좌측 정렬
print(s.center(n))  #가운데 정렬
print(s.rjust(n))   #우측 정렬

  이강인화이팅
이강인화이팅
 이강인화이팅
 이강인화이팅

In [35]:
s = " aa bb cc dd ee ff gg,"
print(f's       : {s}')
#DH
r0 = s.split() #DH
r1 = s.split('.')
r2 = s.split(sep='.')

print(f"s.split() : {r0}")
print(f"s.split() : {r1}")
print(f"s.split() : {r2}")

s       :  aa bb cc dd ee ff gg,
s.split() : ['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg,']
s.split() : [' aa bb cc dd ee ff gg,']
s.split() : [' aa bb cc dd ee ff gg,']

In [37]:
s = "aa.bb.cc.BlockDMask.ee.ff.gg.python.example"
print(f'{s}')

r0 = s.split()
r1 = s.split('.', 3)
r2 = s.split(sep ='.', maxsplit=3)
r3 = s.split('.', maxsplit=3)
print(f"\ns.split()\n{r0}") #DH
print(f"\ns.split('.', 3)\n{r1}")
print(f"\ns.split(sep='.', maxsplit=3)\n{r2}")
print(f"\ns.split('.', maxsplit=3)\n{r3}")

aa.bb.cc.BlockDMask.ee.ff.gg.python.example

s.split()
['aa.bb.cc.BlockDMask.ee.ff.gg.python.example']

s.split('.', 3)
['aa', 'bb', 'cc', 'BlockDMask.ee.ff.gg.python.example']

s.split(sep='.', maxsplit=3)
['aa', 'bb', 'cc', 'BlockDMask.ee.ff.gg.python.example']

s.split('.', maxsplit=3)
['aa', 'bb', 'cc', 'BlockDMask.ee.ff.gg.python.example']

In [40]:
text = '123,456,789,999'

replaceAll = text.replace(",","")
replace_t1 = text.replace(",","",1)
replace_t2 = text.replace(",","",2)
replace_t3 = text.replace(",","",3) #DH
print("결과 :")
print(replaceAll)
print(replace_t1)
print(replace_t2)
print(replace_t3)

결과 :
123456789999
123456,789,999
123456789,999
123456789999

In [42]:
txt = "홈짱닷컴\nHomeZZang.com" #DH
x = txt.splitlines()

print(x)

['홈짱닷컴', 'HomeZZang.com']

In [43]:
g = 'Milk\nChicken\r\nBread\rButter'

print(g.splitlines())
print(g.splitlines(True)) #DH

g = 'Milk Chicken Bread Butter'
print(g.splitlines())

['Milk', 'Chicken', 'Bread', 'Butter']
['Milk\n', 'Chicken\r\n', 'Bread\r', 'Butter']
['Milk Chicken Bread Butter']

In [47]:
a = ['a','b','c','d','1','2','3']
print(a)
#DH
result1 = "!".join(a)
print(result1)

['a', 'b', 'c', 'd', '1', '2', '3']
a!b!c!d!1!2!3

In [48]:
print( "3".zfill(3))
print( "s1".zfill(4))#DH

003
00s1

In [50]:
for x in range(3):
    print(x)
    print( str(x).zfill(4))

0
0000
1
0001
2
0002

In [51]:
a ="abc"

print(a.rjust(10))
print(a.rjust(10, '#'))

print(a.ljust(10))
print(a.ljust(10, '*'))

print('\n')

b='def'
print(b.ljust(15))
print(b.ljust(15, 'k'))

       abc
#######abc
abc
abc*******


def
defkkkkkkkkkkkk